@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");

//Переменные
$orange: #ffb400;
$red: #ff5d56;
$white: #fff;

$primary-color: $orange !global;
$second-color: $white !global;

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  text-transform: uppercase;

  &::before,
  &::after {
    box-sizing: border-box;
  }
}

html {
  background: #111;
}

.body {
  margin: 24px;
}

.container {
  display: grid;
  grid-template-columns: calc(33.333% - 48px) 1fr;
  gap: 24px;
}

.photo {
  background-image: url(./common/images/woman.jpeg);
  width: 100%;
  height: calc(100vh - 48px);
  background-size: cover;
  background-position: center center;
}

.app {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 24px;
}

.info {
  color: $second-color;
}

.aboutMeBlock,
.portfolioBlock,
.messageBlock {
  width: 100%;
  height: 100%;
  background: #222;
  &>h2>span:first-child {
    &:before {
      content: attr(data-hover);
      position: absolute;
      top: 105%;
      color: $primary-color;
    }
  }
  &>h2>span:nth-child(2) {
    &:before {
      content: attr(data-hover);
      position: absolute;
      top: -105%;
      color: $second-color;
    }
  }
  &:hover {
    &>h2>span:first-child {
      transform: translate3d(0, -105%, 0);
    }
    &>h2>span:nth-child(2) {
      transform: translate3d(0, 105%, 0);
    }
  }
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .greeting {
    color: #eee;
    font-size: 22px;
    font-family: "Lato";
    font-weight: 400;
  }

  .myName {
    margin: 20px 0;
    color: $second-color;
    font-size: 52px;
    font-family: "Lato";
    font-weight: 900;
  }

  .professionBox {
    overflow: hidden;
    -webkit-transition:650ms linear;
    -moz-transition:650ms linear;
    -o-transition:650ms linear;
    -ms-transition:650ms linear;
    transition:650ms linear;
  }

  .profession {
    color: $primary-color;
    font-size: 28px;
    font-family: "Lato";
    font-weight: 800;
    white-space: nowrap;
  }
}

.aboutMeBlock, .portfolioBlock, .messageBlock {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.aboutMeBox, .portfolioBox, .messageBox {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  gap: 5px;
  line-height: 110%;
  box-sizing: border-box;
}

.about, .my, .get {
  display: inline-block;
  position: relative;
  text-align: center;
  line-height: 110%;
  color: $second-color;
  font-size: 40px;
  font-weight: 900;
  font-family: "Lato";
  transition: transform 0.3s;
}
.me, .portfolio, .inTouch {
  display: inline-block;
  position: relative;
  text-align: center;
  line-height: 110%;
  color: $primary-color;
  font-size: 40px;
  font-weight: 900;
  font-family: "Lato";
  transition: transform 0.3s;
}
