@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;

  &::before,
  &::after {
    box-sizing: border-box;
  }
}

html {
  background: #111;
}

.body {
  margin: 24px;
}

.container {
  display: grid;
  grid-template-columns: calc(33.333% - 48px) 1fr;
  gap: 24px;
}

.photo {
  background-image: url(./common/images/woman.jpeg);
  width: 100%;
  height: calc(100vh - 48px);
  background-size: cover;
  background-position: center center;
}

.app {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 24px;
}

.info {
  color: white;
}

.aboutMe,
.portfolio,
.message {
  background: #222;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .greeting {
    color: #eee;
    font-size: 22px;
    font-family: "Lato";
    font-weight: 400;
  }

  .myName {
    margin: 20px 0;
    color: #fff;
    font-size: 52px;
    font-family: "Lato";
    font-weight: 900;
  }

  .profession {
    color: #ff5d56;
    font-size: 28px;
    font-family: "Lato";
    font-weight: 700;
    animation: linear-appearance 2s 2s forwards;
    transform: translateX(100%);
  }
}

.aboutMe {
  display: flex;
  align-items: center;
  gap: 5px;
  justify-content: center;

  .about {
    color: #fff;
    font-size: 40px;
    font-weight: 900;
    font-family: "Lato";
  }
  .me {
    color: #ff5d56;
    font-size: 40px;
    font-weight: 900;
    font-family: "Lato";
  }
}

@keyframes linear-appearance {
  to {
    transform: translateX(0%);
  }
}
